__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.vscode/
checkpoints/
config/__pycache__
datasets/
miche/shapevae-256.ckpt
miche/__pycache__
model/__pycache__
scripts/train_silksong_ft_gpu16_back.sh
scripts/train_silksong_c_gpu16_back.sh
scripts/infer_silksong_obj_back.sh
slurm_jobs/infer_silksong_obj_back.sh
silkutils/__pycache__
silkutils/dataset_clean/__pycache__
silkutils/dataset_clean/blender_env
silkutils/dataset_clean/decompress_trellis.py
silkutils/dataset_clean/gobjaverse_280k_index_to_objaverse.json
silkutils/dataset_clean/step5_datafilter_testset.py
silkutils/dataset_clean/vis_statistic.py
silkutils/demo_test/manifold_repair
silkutils/meshdata/__pycache__
silkutils/meto/__pycache__
wandb/
workspace_infer/
workspace_train/
debug_infer.py
debug_wandb.py
learn.py
run_docker.txt
train_back.py
infer_back.py
vis_wandb.ipynb



